.intro {
  background-color: $main-color;
  height: 90dvh;
  gap: 20px;
  position: relative;
  overflow: hidden;
  &__info {
    max-width: 550px;
    width: 95%;
  }
  &__title {
    @include h1-size;
  }
  &__text {
    margin: 30px 0;
  }
  &__link {
    background-color: $pink-color;
    color: $white-color;
    font-size: 16px;
    padding: 15px 70px;
    border-radius: 30px;
    transition: all 0.5s;
  }
  &__link:hover {
    padding: 25px 90px;
    transition: all 0.5s;
  }
  &__img {
    max-width: 873px;
    position: absolute;
    top: 50px;
    left: 841px;
  }
}
