* {
  color: inherit;
  font-size: 100%;
  background-color: transparent;
}

.container {
  margin: 0 auto;
  max-width: 1181px;
  width: 90%;
  height: 100%;
  @include space-between;
}

.title{
  @include h2-size;
  padding: 50px 0;
}
